.checkbox-container {
  @apply flex min-550:items-center;

  .checkbox {
    @apply align-middle bg-white border-1 border-black border-opacity-10 border-solid cursor-pointer max-h-[1rem] min-h-[1rem] min-w-[1rem] ltr:mr-2 rtl:ml-2 rounded-[0.25rem] focus:outline-none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked {
      &::before {
        @apply border-dark-blue ltr:ml-[0.313rem] rtl:mr-[0.313rem] block w-[0.313rem] border-solid content-[''] h-[0.688rem];
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    &.error {
      @apply border-light-red;
    }
  }

  label {
    @apply leading-4 min-550:text-sm text-xs;

    .underlined-text {
      @apply underline cursor-pointer;     
      text-decoration-color: #606060;
      text-underline-offset: 0.188rem;

      &.ar{
        text-underline-offset: 0.375rem;
      }
    }
  }
}
