@tailwind base;

@layer base {
  @font-face {
    font-family: "Druk Heavy Italic";
    src: local("Druk HeavyItalic Web"), local("Druk-HeavyItalic-Web"),
    url("~assets/fonts/Druk/Druk-HeavyItalic-Web.woff") format("woff"),
    url("~assets/fonts/Druk/Druk-HeavyItalic-Web.woff2") format("woff2");
    font-weight: 900;
    font-style: italic [normal];
    font-display: swap;
  }

  @font-face {
    font-family: "Druk Text Wide Super Italic";
    font-weight: 900;
    font-style: normal;
    font-display: auto;
    src: local("DrukTextWide SuperItalic Web"), local("DrukTextWide-SuperItalic-Web"),
    url("~assets/fonts/DrukTextWide/DrukTextWide-SuperItalic-Web.woff") format("woff"),
    url("~assets/fonts/DrukTextWide/DrukTextWide-SuperItalic-Web.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Druk Text Wide Bold";
    font-weight: 700;
    font-style: normal;
    src: local("DrukTextWide Bold Web"), local("DrukTextWide-Bold-Web"),
    url("~assets/fonts/DrukTextWide/DrukTextWide-Bold-Web.woff") format("woff"),
    url("~assets/fonts/DrukTextWide/DrukTextWide-Bold-Web.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Druk Text Heavy Italic";
    font-weight: 800;
    font-style: italic [normal];
    src: local("DrukText HeavyItalic Web"), local("DrukText-HeavyItalic-Web"),
    url("~assets/fonts/DrukText/DrukText-HeavyItalic-Web.woff") format("woff"),
    url("~assets/fonts/DrukText/DrukText-HeavyItalic-Web.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Druk Text Super Italic";
    font-weight: 900;
    font-style: italic [normal];
    src: local("DrukText SuperItalic Web"), local("DrukText-SuperItalic-Web"),
    url("~assets/fonts/DrukText/DrukText-SuperItalic-Web.woff") format("woff"),
    url("~assets/fonts/DrukText/DrukText-SuperItalic-Web.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Druk Wide Heavy Italic";
    font-weight: 900;
    font-style: normal;
    src: local("DrukWide HeavyItalic Web"), local("DrukWide-HeavyItalic-Web"),
    url("~assets/fonts/DrukWide/DrukWide-HeavyItalic-Web.woff") format("woff"),
    url("~assets/fonts/DrukWide/DrukWide-HeavyItalic-Web.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Druk Text Medium Italic";
    font-weight: 500;
    font-style: italic [normal];
    font-stretch: normal;
    src: local("DrukText MediumItalic Web"), local("DrukText-MediumItalic-Web"),
    url("~assets/fonts/DrukText/DrukText-MediumItalic-Web.woff2") format("woff2"),
    url("~assets/fonts/DrukText/DrukText-MediumItalic-Web.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Inter Reguler";
    font-weight: 400;
    font-style: normal;
    src: local("Inter Reguler"), local("Inter-Reguler"), url("~assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter Medium";
    font-weight: 500;
    font-style: normal;
    src: local("Inter Medium"), local("Inter-Medium"),
    url("~assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter Semi Bold";
    font-weight: 600;
    font-style: normal;
    src: local("Inter Semi Bold"), local("Inter-Semi-Bold"),
    url("~assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter Bold";
    font-weight: 700;
    font-style: normal;
    src: local("Inter Bold"), local("Inter-Bold"), url("~assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter ExtraBold";
    font-weight: 700;
    font-style: normal;
    src: local("Inter ExtraBold"), local("Inter-ExtraBold"), url("~assets/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Caveat Bold";
    font-weight: 700;
    font-style: normal;
    src: local("Caveat Bold"), local("Caveat-Bold"), url("~assets/fonts/Caveat/Caveat-Bold.ttf") format("truetype");
  }


  @font-face {
    font-family: "MarselisPro Bold";
    font-weight: normal;
    font-style: normal;
    src: local("MarselisPro Bold"), local("MarselisPro-Bold"),
    url("~assets/fonts/MarselisPro/MarselisPro-Bold.otf") format("opentype");
  }

  @font-face {
    font-family: "MarselisPro";
    font-weight: 400;
    font-style: normal;
    src: local("MarselisPro"), url("~assets/fonts/MarselisPro/MarselisPro.otf") format("opentype");
  }

  @font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("~assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto Regular";
    font-weight: 400;
    font-style: normal;
    src: local("Roboto Regular"), local("Roboto-Regular"), url("~assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "NotoSansArabic Reguler";
    font-weight: 400;
    font-style: normal;
    src: local("NotoSansArabic Reguler"), local("NotoSansArabic-Reguler"), url("~assets/fonts/NotoSansArabic/NotoSansArabic-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "NotoSansArabic Medium";
    font-weight: 500;
    font-style: normal;
    src: local("NotoSansArabic Medium"), local("NotoSansArabic-Medium"),
    url("~assets/fonts/NotoSansArabic/NotoSansArabic-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "NotoSansArabic SemiBold";
    font-weight: 600;
    font-style: normal;
    src: local("NotoSansArabic SemiBold"), local("NotoSansArabic-SemiBold"), url("~assets/fonts/NotoSansArabic/NotoSansArabic-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "NotoSansArabic Bold";
    font-weight: 700;
    font-style: normal;
    src: local("NotoSansArabic Bold"), local("NotoSansArabic-Bold"), url("~assets/fonts/NotoSansArabic/NotoSansArabic-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "NotoSansArabic ExtraBold";
    font-weight: 700;
    font-style: normal;
    src: local("NotoSansArabic ExtraBold"), local("NotoSansArabic-ExtraBold"), url("~assets/fonts/NotoSansArabic/NotoSansArabic-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Bukra';
    src: url('~assets/fonts/Bukra/29LTBukraAlFuttaim-WideBlackDiamond.ttf') format('truetype'),
    url('~assets/fonts/Bukra/29LTBukraAlFuttaim-WideBlackDiamond.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Adapter';
    src: url('~assets/fonts/Adapter/AdapterArabicDisplayWeb-Bl.woff2') format('woff2'),
    url('~assets/fonts/Adapter/AdapterArabicDisplayWeb-Bl.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
}
