.ski-card-content {
  @apply bg-[#FFFFFF] px-14 w-full pb-10;
  max-width: 40.5rem;
  border-radius: 16px;
  height: 100%;
  @screen mobiles {
    max-width: 21.438rem;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
  }
  .card-title {
    @apply ltr:font-druk-heavy-italic rtl:font-adapter text-[2.5rem] leading-10 uppercase text-[#1A1A1A] pt-12;
    @screen mobiles {
      @apply ltr:font-inter-semi-bold rtl:font-noto-sans-arabic-semi-bold text-[1rem] leading-6 text-[#1A1A1A];
    }
  }

  .card-subtitle {
    @apply ltr:font-inter-reguler rtl:font-noto-sans-arabic-reguler text-[0.875rem] text-[#606060] leading-6 mt-4;
  }

  .description-section {
    margin-inline-end: 5.813rem;

    .section-title {
      @apply ltr:font-inter-semi-bold rtl:font-noto-sans-arabic-semi-bold rtl:font-semibold text-[1rem] leading-6 text-[#1A1A1A];
    }

    .section-body {
      @apply ltr:font-inter-reguler rtl:font-noto-sans-arabic-reguler text-[0.875rem] leading-6 text-[#606060];
    }
  }
}
