.ski-school-main {
  .text-container {
    @apply flex-1 justify-center h-full flex flex-col;

    .title {
      @apply w-full min-900:text-6xl text-white uppercase ltr:font-druk-wide-heavy-italic rtl:font-adapter leading-8 rtl:leading-[unset] min-320:text-[32px] min-700:text-5xl text-3xl;
    }

    .sub-title {
      @apply font-caveat-bold leading-6 text-2xl;
    }

    &.without-img {
      @apply max-w-[872px];
    }
  }

  .image-wrapper {
    @apply hidden md:flex md:w-[20rem] min-900:w-[21.25rem] h-full items-end;

    img {
      @apply w-fit h-fit md:max-h-[20rem] min-900:max-h-[21.25rem];
    }
  }

  .tabs-list {
    @apply w-fit bg-transparent overflow-x-auto flex ltr:font-inter-bold rtl:font-noto-sans-arabic-bold text-[1rem] leading-6 text-white h-full px-4 lg:px-0 list-none m-0;

    .tab {
      @apply opacity-50 pb-5 whitespace-nowrap lg:hover:cursor-pointer;

      &.active {
        @apply opacity-100 pb-4;
        border-bottom: 4px solid #fad903;
      }

      &:not(:last-child) {
        @apply ltr:mr-4 md:ltr:mr-12 rtl:ml-4 md:rtl:ml-12;
      }

      &:hover {
        opacity: 1 !important;
      }
    }

    &::-webkit-scrollbar {
      @apply hidden;
    }

    scrollbar-width: none;
  }

  .activity-tab-events-header {
    @apply mb-8 md:max-w-[40.5rem] min-1120:px-0 px-4;

    .title {
      @apply ltr:font-druk-wide-heavy-italic rtl:font-adapter leading-6 md:leading-8 md:text-[2rem] text-2xl text-dark-gray uppercase;

      @screen mobiles {
        @apply max-w-[17.5rem];
      }
    }

    .description-wrapper {
      @apply mt-4 max-w-[21.4375rem] md:max-w-full;

      .description {
        @apply ltr:font-inter-reguler rtl:font-noto-sans-arabic-reguler leading-6 text-[#606060] text-sm;
      }
    }
  }

  .arrow-container {
    position: absolute;
    margin-inline-start: 73%;
    margin-top: -2rem;
    z-index: 10;
  }

  .mobile-app-wrapper {
    @apply w-full 3xl:mx-auto flex items-center max-w-screen-3xl md:mt-[104px] md:mb-[96px];

    @screen mobiles {
      padding-bottom: 4rem;
    }
  }
}
